body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 140px 0 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212;
    color: #ffffff;
}

header {
    background-color: #1e1e1e;
    text-align: center;
    padding: 10px;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out, position 0.3s ease-in-out;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

header p {
    font-size: 14px;
}

h1, h2, p, li {
    margin: 0;
}

section {
    padding: 30px 20px;
    margin: 20px 20px 20px;
    cursor: pointer;
    position: relative;
    background-color: #292929;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease-in-out;
}

section.first {
    margin-top: 50px;
}

section:hover {
    background-color: #1e1e1e;
}

h2 {
    color: #61dafb;
}

.icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    background-color: #1e1e1e;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0; 
    left: 0;
}

.hidden {
    display: none;
}

.closed .icon::before {
    content: '\25B8';
}

.open .icon::before {
    content: '\25BE';
}

@media (max-width: 600px) {
    section {
        margin: 10px;
    }

    header {
        padding: 8px;
    }

    header h1 {
        font-size: 20px;
    }

    header p {
        font-size: 12px;
    }
}

#habilidades-list,
#exp-list,
#edu-list,
#contato-list {
    list-style-type: square;
    list-style-position: inside;
}

a {
    color: #61dafb;
}

.header-info {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.header-info h1,
.header-info p {
    margin: 0;
}

@media (min-height: 100vh) {
    body {
        margin-bottom: 50px; 
    }
}
