body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212;
    color: #ffffff;
}

header {
    background-color: #1e1e1e;
    text-align: center;
    padding: 10px;
    width: 100%;
    max-width: 1200px;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out, position 0.3s ease-in-out;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

header p {
    font-size: 14px;
}

h1, h2, p, li {
    margin: 0;
}

section {
    padding: 20px;
    cursor: pointer;
    position: relative;
    background-color: #292929;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease-in-out;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

section:hover {
    background-color: #1e1e1e;
}

h2 {
    color: #61dafb;
}

.icon {
    position: absolute;
    right: 10px;
    top
