body {
    margin: 0;
    padding: 0;
    font-family: "Kode Mono", monospace;
    background-color: #010718;
}

.header {
    background-color: #010718;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    position: fixed; 
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

.nav-item {
    margin-right: 15px;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-item a:hover {
    color: #ddd;
}

#about{
    padding: 80px 0;
    color: #ddd;
    margin-right: 1vh;

}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    margin-left: 3vh;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 2px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.tab-links.active-link:after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

@media only screen and (max-width: 780px) {
    .about-col-1 {
        flex-basis: 100%;
        margin-left: 0.4vh;
    }

    .about-col-1 img {
        width: 80%;
        margin-left: 5vh;
    }

    .about-col-2 {
        flex-basis: 100%;
    }

    ul {
        margin-right: 1vh;
    }

    .tab-links {
        margin-right: 20px;
    }

    .tab-titles {
        margin-left: 2vh;
    }

    .sub-title {
        margin-left: 5vh;
    }

    .text {
        margin-left: 1vh;
        text-align: center;
    }
}