@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
body {
    font-family: "Kode Mono", monospace;;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #010718;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile {
    margin-bottom: 20px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.links {
    display: flex;
    flex-direction: column;
}

.link {
    background-color: #010718;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link:hover {
    background-color: #0056b3;
}

/* Media Queries */

/* Smartphones (portrait and landscape) */
@media (max-width: 480px) {
    .container {
        width: 80%; /* Reduz a largura do container */
        padding: 10px; /* Reduz o padding */
    }
    .profile-img {
        width: 60px; /* Reduz o tamanho da imagem de perfil */
        height: 60px; /* Reduz o tamanho da imagem de perfil */
    }
    .link, .color-toggle-btn {
        padding: 5px 10px; /* Reduz o padding dos links e do botão */
        font-size: 0.8em; /* Reduz o tamanho da fonte dos links e do botão */
    }
    h1 {
        font-size: 1.2em; /* Reduz o tamanho da fonte do título */
    }
    p {
        font-size: 0.9em; /* Reduz o tamanho da fonte da descrição */
    }
}

/* Media Queries */

/* Smartphones (portrait and landscape) */
@media (max-width: 480px) {
    .container {
        width: 80%; /* Reduz a largura do container */
        padding: 10px; /* Reduz o padding */
    }
    .profile-img {
        width: 60px; /* Reduz o tamanho da imagem de perfil */
        height: 60px; /* Reduz o tamanho da imagem de perfil */
    }
    .link, .color-toggle-btn {
        padding: 5px 10px; /* Reduz o padding dos links e do botão */
        font-size: 0.8em; /* Reduz o tamanho da fonte dos links e do botão */
    }
    h1 {
        font-size: 1.2em; /* Reduz o tamanho da fonte do título */
    }
    p {
        font-size: 0.9em; /* Reduz o tamanho da fonte da descrição */
    }
}

/* Tablets (portrait and landscape) */
@media (min-width: 481px) and (max-width: 768px) {
    .container {
        width: 80%;
        padding: 15px;
    }
    .profile-img {
        width: 90px;
        height: 90px;
    }
    .link {
        padding: 10px 20px;
    }
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
    }
}

/* Desktops and larger screens */
@media (min-width: 769px) {
    .container {
        width: 50%;
        padding: 20px;
    }
    .profile-img {
        width: 100px;
        height: 100px;
    }
    .link{
        padding: 10px 20px;
    }
    h1 {
        font-size: 2.5em;
    }
    p {
        font-size: 1.5em;
    }
}
